*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 11px;
}

body{
    background-color: #78accd;
}

#wrapper{
    width: 28%;
    height: 30rem;
    background-color: #999da4;
    margin: 12rem auto;
    display: grid;
    grid-template-rows: 4.5rem 1fr 4.5rem;
    gap: 0.1rem;
}

.bx1{
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 10rem;
    color: #999da4;
}

.bx1 p{
    margin: auto;
    font-size: larger;
    font-weight: 400;
}

.date{
    padding-right: 12rem;
}

.bx2{
    width: 100%;
    background-color: white;
    color: #999da4;
}

.weeks{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bolder;
    font-size: 1.2rem;
    padding: 1.5rem;
    padding-left: 2.5rem;
}

.numbers{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-left: 3rem;
    font-weight: bold;
}

.numbers p{
    margin: 1rem 0;
    color: black;
}


.bx3{
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 10rem 1fr 10rem;
}

.bx3 p{
    margin: auto;
    font-size: larger;
    font-weight: 400;
}
